<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {% load static %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <form action="/listar_todo_persona/" method="GET">
        <table>
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Vacuna</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% if personas %}
                {% for pers in personas %}
                <tr>
                    <td>{{ pers.rut  }}</td>
                    <td>{{ pers.nombre }}</td>
                    <td>{{ pers.appaterno }}</td>
                    <td>{{ pers.apmaterno  }}</td>
                    <td>{{ pers.edad }}</td>
                    <td>{{ pers.vacuna }}</td>
                    <td>{{ pers.fecha }}</td>
                    </tr>                    {% endfor %}
                {% else %}
                    <h2>No existen registros de personas...</h2>
                {% endif %}                
            </tbody>
        </table>
        <input type="submit" value="Listar">   
    </form>
</body>
</html>